.header-block {
    height: 55px;
}

#main {
    min-height: calc(100vh - 130px);
}

.result-div {
    height: 30%;
}

.result-div div {
    font-size: 3em;
}

#b-play {
    border: none;
    outline: none;
}