.header-block {
    height: 55px;
}

#mainStatisticsHeader {
    height: 55px;
}

#main {
    min-height: calc(100vh - 130px);
}

#mainStatistics {
    min-height: calc(100vh - 130px);
}

.result-div {
    height: 30%;
}

.result-div div {
    font-size: 3em;
}

#b-play {
    border: none;
    outline: none;
}

.canvas-chart {
    width: 100%;
}

.charts {
    min-height: calc(100vh - 180px);
}