<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <meta charset="UTF-8">
    <title>MeetingCost</title>
</head>

<body>

<div id="app">
    <div class="container">
        <div class="row">
            <div id="header" class="col text-center">
                <h1>История о потраченном времени!*</h1>
                <hr/>
            </div>
        </div>

        <div id="mainStatistics" v-show="!isMainShow">
            <div class="row">
                <div id="mainStatisticsHeader" class="row">
                    <div class="col-12">
                        <button type="button"
                                class="btn btn-outline-primary btn-lg btn-block"
                                v-if="totalSum"
                                @click="isMainShow = !isMainShow;">Назад
                        </button>
                    </div>
                </div>
            </div>

            <div class="row charts">
                <bar-chart></bar-chart>
                <pie-chart></pie-chart>
            </div>
        </div>

        <div id="main" class="row" v-show="isMainShow">
            <div class="col col-lg-4 col-md-6 text-left">
                <h3>Участники встречи:</h3>

                <div class="header-block">
                    <label>Id сотрудника:
                        <input v-model="employeeId" type="number" size="3" min="1" max="999" required>
                    </label>

                    <button @click="addNewEmployeeId(employeeId)">Добавить</button>
                </div>


                <div v-if="employeeSetSize != 0">

                    <div class="border border-dark">
                        В совещании учавствуют {{ employeeSet.size }} сотрудник(ов):

                        <ul class="text-left">
                            <li style="list-style-type: none" v-for="(employee, index) in employeeSet">
                                <p>
                                    {{ index + 1 }}) Id - {{ employee.id }}
                                    <button @click="deleteEmployee(employee)">Удалить</button>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col col-lg-4 col-md-6">
                <h3>Общая информация:</h3>

                <div class="header-block"></div>

                <div v-if="employeeSetSize != 0">

                    <div class="border border-dark">
                        Состав (по должностям):

                        <ul class="text-left">
                            <li style="list-style-type: none" v-for="positionInfo in changePositionMap">
                                <p>
                                    {{ positionInfo[0] }} х {{ positionInfo[1] }} чел.
                                </p>
                            </li>
                        </ul>

                    </div>

                    <br>

                    <div class="border border-dark" v-if="totalSum">
                        Длительность:
                        <ul class="text-left">
                            <li style="list-style-type: none">
                                <p>
                                    {{ getMeetingTime() }}
                                </p>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col col-lg-4 col-md-12 text-center">
                <h3>Затраченные средства:</h3>
                <div class="col text-center">
                    <button type="button"
                            class="btn btn-outline-success btn-lg btn-block"
                            @click="start()">
                        <i id="b-play" class="fas fa-play"></i>
                    </button>
                </div>

                <div class="row align-items-center result-div">
                    <div class="col text-right d-inline result-sum "> {{ totalSum }}</div>
                    <div class="col text-left d-inline">{{ totalSum != undefined ? '&#8381' : '' }}</div>
                </div>

                <div class="col text-center">
                    <button type="button"
                            class="btn btn-outline-primary btn-lg btn-block"
                            v-if="totalSum"
                            @click="showStatistics">Статистика
                    </button>
                </div>

                <div class="header-block">
                </div>
            </div>
        </div>

        <div class="row">
            <div id="footer" class="col text-center">
                <h3>*Бессмысленным и беспощадным совещаниям посвящается!</h3>
            </div>
        </div>
    </div>
</div>

<script>

    const storeVuex = new Vuex.Store({
        state: {
            positionsMap: new Map(),
            salaryMap: new Map()
        },
        mutations: {
            addPosition(state, position) {
                let isPositionContainsInMap = state.positionsMap.has(position);
                if (isPositionContainsInMap) {
                    state.positionsMap.set(position, (state.positionsMap.get(position)) + 1);
                } else {
                    state.positionsMap.set(position, 1);
                }
            },
            deletePosition(state, position) {
                let isPositionContainsInMap = state.positionsMap.has(position);
                if (isPositionContainsInMap) {
                    let count = state.positionsMap.get(position);
                    state.positionsMap.delete(position);
                    if (count !== 1) {
                        state.positionsMap.set(position, count - 1);
                    }
                }
            },
            addSalary(state, myObj) {
                let isPositionContainsInMap = state.salaryMap.has(myObj.empl.position);
                if (isPositionContainsInMap) {
                    state.salaryMap.set(myObj.empl.position, state.salaryMap.get(myObj.empl.position) + myObj.salaryBySecond);
                } else {
                    state.salaryMap.set(myObj.empl.position, myObj.salaryBySecond);
                }
            },
            clearSalaryMap(state) {
                state.salaryMap = new Map();
            }
        },
        getters: {
            getPositionsMapKeys: state => () => {
                return Array.from(state.positionsMap.keys());
            },

            getPositionsMapValue: state => () => {
                return Array.from(state.positionsMap.values());
            },
            getSalaryMapKeys: state => () => {
                return Array.from(state.salaryMap.keys());
            },

            getSalaryMapValue: state => () => {
                return Array.from(state.salaryMap.values());
            }
        }
    });

    Vue.component('bar-chart', {
        template: `
            <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                <canvas class="canvas-chart" id="barChart" width="400" height="400">
                </canvas>
            </div>`
    });


    Vue.component('pie-chart', {
        template: `
            <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                <canvas class="canvas-chart" id="pieChart" width="400" height="400"></canvas>
            </div>`
    });

    new Vue({
        el: "#app",
        store: storeVuex,
        data: {
            isMainShow: true,
            employeeId: 1,
            employeeSet: new Set(),
            employeeSetSize: 0,
            ...Vuex.mapState(['positionsMap']),
            isStart: false,
            totalSum: undefined,
            timerId: 0,
            meetingTime: 0,
            meetingTimeTimerId: 0,
            barChart: undefined,
            pieChart: undefined,

        },

        methods: {
            ...Vuex.mapMutations(['addPosition', 'deletePosition', 'addSalary']),
            showStatistics() {
                this.isMainShow = !this.isMainShow;
                let ctx = $('#barChart').get(0).getContext('2d');

                if (this.barChart) {
                    this.barChart.destroy();
                }

                this.barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: this.$store.getters.getPositionsMapKeys(),
                        datasets: [{
                            label: 'Участники "по должностям"',
                            data: this.$store.getters.getPositionsMapValue(),
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1

                        }]
                    },
                    options: {
                        animation: {
                            easing: "easeOutBounce",
                            duration: 2000
                        },
                        responsive: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 3
                                }
                            }]
                        }
                    }
                });

                let doughnut = $('#pieChart').get(0).getContext('2d');

                if (this.pieChart) {
                    this.pieChart.destroy();
                }

                this.pieChart = new Chart(doughnut, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: this.$store.getters.getSalaryMapValue(),
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1
                        }],

                        labels: this.$store.getters.getSalaryMapKeys()
                    }
                    ,
                    options: {
                        title: {
                            fontSize: 20,
                            position: 'bottom',
                            display: true,
                            text: 'Участники "по общим затратам"',
                        },
                        animation: {
                            easing: "easeOutBounce",
                            duration: 2000
                        },
                        responsive: false,
                        cutoutPercentage: 50
                    }
                });
            },
            getMeetingTime() {

                let time = this.meetingTime / 1000;

                let hours = Math.floor(time / 60 / 60);
                let minutes = Math.floor(time / 60) - (hours * 60);
                let seconds = time % 60;

                return [
                    hours.toString().padStart(2, '0'),
                    minutes.toString().padStart(2, '0'),
                    seconds.toString().padStart(2, '0')
                ].join(':');
            },
            start() {
                if (this.employeeSetSize === 0) {
                    alert("Пригласите сотрудников на совещание");
                } else if (this.employeeSetSize === 1) {
                    alert("На совещании д.б. минимум 2 человека");
                } else {
                    this.isStart = !this.isStart;
                    if (this.isStart) {
                        $('#b-play').removeClass("fa-play").addClass("fa-stop");
                        this.clearSalaryMapV();

                        this.totalSum = undefined;
                        this.meetingTime = 0;
                        $('.result-sum').html("");
                        this.timerId = setInterval(this.incrementTotalSum, 5000);
                        this.meetingTimeTimerId = setInterval(this.incrementMeetingTime, 1000);

                    } else {
                        $('#b-play').removeClass("fa-stop").addClass("fa-play");
                        clearInterval(this.timerId);
                        clearInterval(this.meetingTimeTimerId);
                    }
                }
            },

            isEmployeeSetContainsId(employeeSet, id) {
                if (employeeSet.size === 0) {
                    return false;
                } else {
                    for (let item of employeeSet.values()) {
                        if (item.id === id) {
                            return true;
                        }
                    }
                    return false;
                }
            },

            addPositionV(position) {
                this.$store.commit("addPosition", position);
            },
            deletePositionV(position) {
                this.$store.commit("deletePosition", position);
            },
            addSalaryV(employee, seconds) {
                this.$store.commit("addSalary", {
                    empl: employee,
                    salaryBySecond: employee.salaryBySecond * seconds
                });
            },
            clearSalaryMapV() {
                this.$store.commit("clearSalaryMap",);
            },


            addNewEmployeeId(newId) {

                if (newId === '') {
                    alert("Задайте id сотрудника");
                } else if (newId > 600) {
                    alert("В компании нет сотрудников с id больше 600!");
                } else if (this.isEmployeeSetContainsId(this.employeeSet, newId)) {
                    alert("Сотрудни с таким Id уже добавлен!");
                } else {
                    let employee = new Employee(newId);
                    this.employeeSet.add(employee);
                    this.employeeSetSize++;

                    this.addPositionV(employee.position);
                }
            },
            deleteEmployee(employee) {
                let isObjectDeleted = this.employeeSet.delete(employee);
                if (isObjectDeleted) {
                    this.deletePositionV(employee.position);
                    this.employeeSetSize--;
                }
            },
            incrementTotalSum() {
                if (this.totalSum === undefined) {
                    this.totalSum = 0;
                }

                let start = this.totalSum;

                let sumToAdd = this.getSalaryBySeconds(5);
                this.totalSum += sumToAdd;

                $('.result-sum').spincrement({
                    thousandSeparator: " ",
                    from: start,
                    to: this.totalSum,
                    duration: 1000,
                    decimalPlaces: 1
                });
            },
            getSalaryBySeconds(seconds) {
                let sum = 0;
                for (let item of this.employeeSet) {
                    sum += item.salaryBySecond;
                    this.addSalaryV(item, seconds);
                }

                let result = sum * seconds;
                console.log(result);
                return result;
            },
            incrementMeetingTime() {
                this.meetingTime += 1000;
            }
        },

        computed: {
            ...Vuex.mapState({
                changePositionMap: state => state.positionsMap,
            }),
        }
    })
</script>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="./js/jquery.spincrement.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>