<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>MeetingCost</title>
</head>

<body>

<div id="app">
    <div class="container">
        <div class="row">
            <div id="header" class="col text-center">
                <h1>История о потраченном времени!*</h1>
            </div>
        </div>

        <div id="main" class="row" v-bind:style="{height:89+'vh'}">
            <div class="col text-center">
                <h3>Участники совещания:</h3>

                <label>Id сотрудника:
                    <input v-model="employeeId" type="number" size="3" min="1" max="999" required>
                </label>

                <button v-on:click="addNewEmployeeId(employeeId)">Добавить</button>

                <div v-if="employeeSet.size != 0">
                    В совещании учавствуют {{ employeeSet.size }} сотрудник (ов):

                    <ul class="text-left">
                        <li style="list-style-type: none" v-for="(employee, index) in employeeSet">
                            <p>
                                {{ index + 1 }}) Id - {{ employee.id }}
                                <button @click="employeeSet.delete(employee)">Удалить</button>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col">
                <h3>Общая информация:</h3>
            </div>
            <div class="col">
                <h3>Затраченные средства:</h3>
            </div>
        </div>

        <div class="row">
            <div id="footer" class="col text-center">
                <h3>*Бессысленным и беспощадным совещаниям посвещается</h3>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            employeeId: 1,
            employeeSet: new Set(),
            employeeList: [],
        },

        methods: {
            isEmployeeSetContainsId(employeeSet, id) {
                if (employeeSet.size === 0) {
                    return false;
                } else {
                    for (let item of employeeSet.values()) {
                        console.log(item);
                        if (item.id === id) {
                            return true;
                        }
                    }
                    return false;
                }
            },
            addNewEmployeeId(newId) {
                if (newId === '') {
                    alert("Задайте id сотрудника");
                } else if (newId > 600) {
                    alert("В компании нет сотрудников с id больше 600!");
                } else if (this.isEmployeeSetContainsId(this.employeeSet, newId)) {
                    alert("Сотрудни с таким Id уже добавлен!");
                } else {
                    this.employeeSet.add(new Employee(newId));
                }
            }
        },

        computed: {
            convertEmployeeSetToList() {
                this.employeeList = Array.from(this.employeeSet);
                console.log(this.employeeList);
            }
        }
    })
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>